/* ---- Style Resets ----*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/**** element styles ****/
body {
    height: 100vh;
    background: #f8f8f8;
    font-family: 'Work Sans', sans-serif;
    line-height: 25px;

}

/**** ID Styles ****/
#currentdayTitle {
    display: flex;
    justify-content: start;
}

/**** class styles ****/
.title {
    background-color:#1f314f;
    width: 100%;
    color: #f0f1fa;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 10px rgb(71, 71, 71, .80);
    font-family: 'Roboto Mono', monospace;
}

.sidebar {
    background: #ffffff;
    width: 20%;
    min-width: 250px;
    margin: 15px 10px;
    padding: 10px;
    border-radius:5px;
    box-shadow: 0px 2px 5px rgb(71, 71, 71, .20);
}

.topcontainer {
    display: flex;
    justify-content: space-between;
}

.currentDay {
    background: #ffffff;
    width: 60%;
    margin: 15px 50px 10px 10px;
    padding: 10px;
    border-radius:5px;
    box-shadow: 0px 2px 5px rgb(71, 71, 71, .20);
    display:flex;
    flex-direction: column;
    line-height: 40px;
}

.bottomcontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px 50px 0px 10px;
}

.forecasttitle {
    margin: 30px 50px 10px 10px;
    width: 100%;
}

.daycard {
    background-color: #008bdb;
    color: #ffffff;
    width: 15%;
    min-width: 100px;
    padding: 0px 10px 10px 10px;
    border-radius:5px;
    box-shadow: 0px 2px 5px rgb(71, 71, 71, .60);
    line-height: 40px;
    margin-bottom: 10px;
}

.submitBtn {
    background-color: #1f314f;
    color: #f0f1fa;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.btn {
    width: 100%;
    padding: 5px;
    margin: 0;
}

.icon {
    width: 50px;
    height: 50px;
}

.uv {
    padding: 5px;
    border-radius: 3px;
    color: #ffffff;
}

.red {
    background-color: #cc1313;
}

.orange {
    background-color: #da7503;
}

.yellow {
 background-color: #ebd408;
}

.green {
    background-color: #01a701;
}

.hide {
    display: none;
}